In [62]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, roc_auc_score, accuracy_score
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import f1_score, roc_curve, confusion_matrix

In [57]:
df = pd.read_csv('../data/heart_cleveland.csv')

In [58]:
X, y = df.iloc[:, :-1], df.iloc[:, -1]

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [51]:
X_train.loc[:,['age','trestbps','chol','thalach','oldpeak']]

     age  trestbps  chol  thalach  oldpeak
66    41       110   235      153      0.0
104   57       150   168      174      1.6
159   68       144   193      141      3.4
146   42       130   180      150      0.0
19    42       148   244      178      0.8
..   ...       ...   ...      ...      ...
188   62       140   394      157      1.2
71    29       130   204      202      0.0
106   56       130   256      142      0.6
270   47       110   275      118      1.0
102   58       140   211      165      0.0

[222 rows x 5 columns]

In [52]:
scaler = StandardScaler()
X_train.loc[:,['age','trestbps','chol','thalach','oldpeak']] = scaler.fit(X_train.loc[:,['age','trestbps','chol','thalach','oldpeak']]).transform(X_train.loc[:,['age','trestbps','chol','thalach','oldpeak']])

In [53]:
ohe = OneHotEncoder()

In [54]:
X_train.loc[:,['sex','cp','fbs','restecg','exang','slope','ca','thal']] = \
    ohe.fit(X_train.loc[:,['sex','cp','fbs','restecg','exang','slope','ca','thal']]).transform(
        X_train.loc[:,['sex','cp','fbs','restecg','exang','slope','ca','thal']])

IndexError: tuple index out of range

In [55]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
66,-1.479676,1,1,-1.233330,-0.227647,0,0,0.144385,0,-0.865269,0,0,0
104,0.317182,1,2,1.175815,-1.461173,0,0,1.039496,0,0.508027,0,0,0
159,1.552521,1,3,0.814443,-1.000902,1,0,-0.367107,0,2.052985,1,2,2
146,-1.367372,1,2,-0.028758,-1.240243,0,0,0.016512,0,-0.865269,0,0,0
19,-1.367372,1,0,1.055357,-0.061950,0,2,1.209993,0,-0.178621,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,0.878700,0,3,0.573528,2.699674,0,2,0.314882,0,0.164703,1,0,0
71,-2.827319,1,1,-0.028758,-0.798383,0,2,2.232977,0,-0.865269,0,0,0
106,0.204878,1,2,-0.028758,0.158980,1,2,-0.324482,1,-0.350283,1,1,1
270,-0.805854,1,3,-1.233330,0.508786,0,2,-1.347466,1,-0.006959,1,1,0
102,0.429485,1,2,0.573528,-0.669507,1,2,0.655877,0,-0.865269,0,0,0

In [66]:
cv = StratifiedKFold(n_splits=5)
model = LogisticRegressionCV(penalty="l2", cv=cv, max_iter=10000, tol=0.01)
model.fit(X_train, y_train)
y_pred_train = model.predict(X_train)
f1_score(y_train, y_pred_train)

0.8586387434554974